.userBox {
  margin: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: 1px solid black;
  box-shadow: -3px 3px 1px 1px rgb(0, 0, 0, 0.1), -8px 8px #ffe300, -8px 8px 0px 2px black;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ffbc97;
  box-sizing: 'border-box';
  transition: all 0.25s;
}

.userBox:hover {
  color: black;
  display: flex;

  flex-direction: row;
  border: 1px solid black;
  box-shadow: -3px 3px 1px 1px rgb(0, 0, 0, 0.1), -12px 12px #ffe300, -12px 12px 0px 2px black;
}

.entry {
  margin: 25px;
}

.firstInfo {
  display: flex;
  flex-direction: column;
  box-sizing: 'border-box';
  overflow: hidden;
  margin: 30px;
  background-color: #ffbc97;
}

.secondInfo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: #ffbc97;
  flex: 7;
  flex-basis: 70%;
}
