.title {
  font-size: 84px;
  color: #4D243D;
  text-align: center;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sub {
  font-size: 54px;
  color: coral;
  font-style: italic;
  font-weight: 300;
  vertical-align: text-top;
  display: inline-block;
  text-align: left;
  width: 100% !important;
  margin-top: 0;
  align-items: left;
  display: flex;
  margin-top: -30px;
  flex-direction: column;
  justify-self: flex-start;
}
.paragraph{
  margin:0;
  padding:0;
  font-size: 90px;
}

.accounts{
  margin:0;
  padding:0;
  font-size: 100px;
}


.mainTitle {
  margin-top: -11px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
  justify-self: flex-end;
  font-size: 13.2vw;
  color: coral;
  padding-bottom: 0px;
}

.decoration {
  background-color: #F9DF74;
  width:100%;
  height:1em;
  display:inline-block;
}



.buttonWrapper{
  width: 100%;
  text-align: center;
}

.browse span{
  position: relative;
  z-index: 2;
}

.browse:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #F9DF74;
  transition: all .35s;
}

.browse:hover{
  color: black;
}

.browse:hover:after{
  width: 100%;
}

.upload{
  display: inline-block;
  width: 70%;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  margin-bottom: 5px;

  background-color: coral;
  box-sizing: border-box;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.browse {
  display: inline-block;
  width: 70%;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-bottom: 5vh;
}

.upload span{
  position: relative;
  z-index: 2;
}

.upload:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #F9DF74;
  transition: all .35s;
}

.upload:hover{
  color: black;
}

.upload:hover:after{
  width: 100%;
}

.man {
  background-color: rgb(75, 48, 197);
  flex: 1;
  color: rgb(255, 255, 255);
  height:1em;
  position: relative;
  display:inline-block;
  flex-direction: row;
}

.woman {
  background-color: rgb(247, 170, 183);
  color: rgb(68, 14, 30);
  flex: 1;
  
  height:1em;
  position: relative;
  display:inline-block;
  flex-direction: row;

}
.textRight{
  right: 0;
  color: wheat;
}

.text{
  color: rgb(34, 34, 34);
  font-stretch: expanded;
}

.chart {
  
  width:70%;
  display: flex;
  flex-direction:row;
  overflow:visible;
}

.num {
  display: flex;
  width: 70%;
  flex-basis: 100%;
  position:absolute;
  justify-content: space-between;
  z-index: 1000;
}

.subtextMen{
  float: left;
  color:brown;
  margin:0;
  padding:0;
  font-size: 7vw;
}


.subtextWomen{
  margin-right: -6px;
  color: blueviolet;
  margin:0;
  padding:0;
  font-size: 7vw;
}

.label {
  margin-top: -24px;
  display: inline-flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  font-size: 90px;
  width: 70%;
  text-align: justify;
  margin-bottom: 3px;
}

.aboutPar{
  font-size: 40px;
  width: 70%;
  color: rgb(34, 34, 34);
  text-align: justify;
  text-justify: inter-word;

}

@media screen and (max-width: 1000px) {
  .sub {
    margin-top: -20px;
    font-size: 38px;
  }
}

@media screen and (max-width: 800px) {
  .paragraph{
    font-size: 7vw;
  }
  .accounts{
    font-size: 10vw;
  }
  .sub {
    margin-top: 0px;

    font-size: 24px;
  }
  .mainTitle{
    margin-top: 11px;
  }
  .upload{
    font-size: 15px;

    height: 50px;
    line-height: 50px;
  }
  .browse{
    height: 50px;
    line-height: 50px;
  }
  .about{
    font-size: 30px;
  }
  .aboutPar{
    font-size: 18px;
  }
}

