.sub {
  font-size: 54px;
  color: coral;
  font-style: italic;
  margin-top: 0;
  font-weight: 300;
  margin-left: 5%;
}
.paragraph {
  margin-left: 10%;
  color: black;
  font-size: 8vh;
}

.accounts {
  margin: 0;
  padding: 0;
  font-size: 7vw;
}

.mainTitle {
  font-size: 13.2vw;
  color: #ff7800;
  margin-left: 5%;
  padding-bottom: 0px;
}

.decoration {
  background-color: #f9df74;
  width: 100%;
  height: 1em;
  display: inline-block;
}

.buttonWrapper {
  width: 100%;
  text-align: center;
}

.browse span {
  position: relative;
  z-index: 2;
}

.browse:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f9df74;
  transition: all 0.35s;
}

.browse:hover {
  color: black;
}

.browse:hover:after {
  width: 100%;
}

.upload {
  display: inline-block;
  width: 70%;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;

  background-color: coral;
  box-sizing: border-box;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.browse {
  display: inline-block;
  width: 70%;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.upload span {
  position: relative;
  z-index: 2;
}

.upload:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f9df74;
  transition: all 0.35s;
}

.upload:hover {
  color: black;
}

.upload:hover:after {
  width: 100%;
}

.man {
  background-color: rgb(75, 48, 197);
  flex: 1;
  color: rgb(255, 255, 255);
  height: 1em;
  position: relative;
  display: inline-block;
  flex-direction: row;
}

.woman {
  background-color: rgb(247, 170, 183);
  color: rgb(68, 14, 30);
  flex: 1;

  height: 1em;
  position: relative;
  display: inline-block;
  flex-direction: row;
}
.textRight {
  right: 0;
  color: wheat;
}

.text {
  color: rgb(34, 34, 34);
  font-stretch: expanded;
}

.chart {
  width: 70%;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.num {
  display: flex;
  width: 70%;
  flex-basis: 100%;
  position: absolute;
  justify-content: space-between;
  z-index: 1000;
}

.label {
  margin-top: -24px;
  display: inline-flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  font-size: 90px;
  text-align: justify;
  margin-bottom: 3px;
}

.aboutPar {
  font-size: 40px;
  color: rgb(34, 34, 34);
  text-align: justify;
  text-justify: inter-word;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: space-around;
  height: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 1000px) {
  .sub {
    margin-top: -20px;
    font-size: 38px;
  }
}

@media screen and (max-width: 800px) {
  .paragraph {
    font-size: 7vw;
  }
  .buttonRow
  {
    flex-direction: column;
    width:80%;
    flex:1

  }
  .mainColumn{
    align-items: center;
  }
  .accounts {
    font-size: 10vw;
  }
  .sub {
    margin-top: 0px;
    margin-left: 0px;

    font-size: 18px;
  }
  .mainTitle {
    margin-left: 0px;
  }
  .upload {
    font-size: 3vw;

    height: 50px;
    line-height: 50px;
  }
  .browse {
    height: 50px;
    font-size: 3vw;

    line-height: 50px;
  }
  .about {
    font-size: 30px;
  }
  .aboutPar {
    font-size: 18px;
  }
}
